<!--<p>{{to_do}}</p>
<div class="example-container">
    <h2>To do</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="to_do"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of to_do" cdkDrag>{{item}}</div>
    </div>
</div>
  
<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>
<p>{{to_do | json}}</p>-->
<div class="example-container">
    <h2 style="color:#ccc">To do</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="to_do"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="dropped($event)">
      <div class="example-box" *ngFor="let item of to_do" [cdkDragData]="item" cdkDrag>{{item}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2 style="color:#ccc">Done</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="dropped($event)">
      <div class="example-box" *ngFor="let item of done" [cdkDragData]="item"   cdkDrag>{{item}}</div>
    </div>
  </div>